<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stock</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <%- include("header") %> 

        <h1 style="text-align: center; padding-bottom: 20px;" >About the Project</h1>        
        <div id="about-box">
            <p>
                Alpha Vantage Stock Search is a web application that allows users to 
                search stock information (via stock symbol). It uses the Alpha Vantage API. 
                The application was built using Node.js & Express, EJS, along with HTML, CSS
                and of course JavaScript. 
            </p>
            <p><small>The application is deployed on Linode at: https://xoxo.xyz</small></p>
    </body>
</html>
