<html>  
    <head>
        <title>Stock</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <%- include("header") %> 

        <h1 style="text-align: center">About</h1>        
        <div id="box">
            <p>
                Apha Advantage App is a web application that allows users to... 
            </p>
    </body>
</html>
