<html>  
    <head>
        <title>Stock</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <%- include("header") %> 

        <h1 style="text-align: center">About</h1>        
        <div id="box">
            <p>
                Alpha Vantage Stock API Search (Daily Adjusted) is a web application that allows users to 
                search for stock information using the Alpha Vantage API. The application is built using 
                Node.js, Express, and EJS. The application is deployed on Linode at: https://xoxo.xyz
            </p>
    </body>
</html>
